@import 'nav';
@import 'main';
@import 'experience';
@import 'work';
@import 'form';
@import 'media';

body {
    margin: 20px;
    background-color: #121212;
    font-family: 'Playfair Display', serif;
}